@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #F9FCFE;
}

@layer base {
  .dark {
    --color-background: #1A2633;
  }
  body {
    background-color: var(--color-background);
  }
}
